header, body, footer{
    background-color: rgb(24, 115, 180);
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
}

/* center object perfect*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* Basiscontainer für Content im Body*/
.container-fluid {
    background-color: rgb(24, 115, 180);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* NAVBAR: */

/* Navbar SM-Name */
.navbar-brand{
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
}

.col-md img {
    max-height: 100px; /* Hier die gewünschte Höhe für das Bild einstellen */
    max-width: 100%; /* Damit das Bild seine Proportionen beibehält */
}

/* für die Icons in der Navbar */
.nav-link.active img {
    height: 1.5rem;
    vertical-align: middle;
}
/* für die Beschreibung der Icons in der Navbar */
.nav-link.active span {
    color: white;
    display: block;
    margin-top: 0.25rem;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;  /* Zentriert den Text */
}

/*unterstreichen des Schriftzugs, wenn die Maus darüber hovert*/
.nav-link.active span:hover{
    text-decoration: underline;
}

.custom-li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-li .nav-link {
    display: flex;
    align-items: center;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/* LOGIN-Seite: */
/* Titelanpassungen */
.title{
    display: block;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

/* Container für Email, Passwort, AGB, ... */
.login-container {
    border-radius: 5px;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

/* Logo auf der LOGIN-Seite */
.logo_big {
    height: 10rem;
    display: block;
    margin: 55px auto 40px;
}

/* Layoutanpassung für LOGIN */
.form-group-login {
    margin-bottom: 20px;
}

/* Layoutanpassung für LOGIN */
.form-group-login label {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
/* Anpassung Link */
.registration a {
    color: rgb(163, 163, 163);
}

/* Anpassung Link */
.registration  a:hover {
    color: rgb(200, 200, 200);
    text-decoration: underline;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/* REGISTIERUNG-Seite: */

/* Logo auf der Registierungsseite */
.logo_small {
    height: 4rem;
    display: block;
    margin: 0 auto 0;
}

/* Layoutanpassung für REGISTIERUNG */
.form-group {
    margin-bottom: 10px;
}

/* Layoutanpassung für REGISTIERUNG */
.form-group label {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

/* Buttonanpassung für LOGIN/REGISTIERUNG */
.btn-right {
    display: flex;
    justify-content: right;
    margin-bottom: 15px;
}

/* Buttonanpassung für REGISTIERUNG */
.btn-left {
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
}

/* Baiscontainer für Registrierung-Elemente */
.registration-container {
    border-radius: 5px;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

/* Layoutanpassung für erweiterte Daten (Bezahlmethode) */
.form-control {
    margin-bottom: 10px;
}
/* Layoutanpassung für erweiterte Daten (Bezahlmethode) */
.form-check-agb{
    margin-top: 10px;
}
/* Linkanpassung für erweiterte Daten (Bezahlmethode) */
.form-check-agb a {
    color: rgb(163, 163, 163);
}
/* Linkanpassung für erweiterte Daten (Bezahlmethode) */
.form-check-agb a:hover {
    color: rgb(200, 200, 200);
    text-decoration: underline;
}

/* Layoutanpassung für erweiterte Daten (Bezahlmethode) */
.bezahldaten{
    background: rgb(20, 95, 148);
    border-radius: 5px;
    padding: 5px;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* main Inhalt - Produktübersicht - Kundensicht*/

/* Basiscontainer für Inhalt unter der NAVBAR: */
.main-container {
    background-color: rgb(20, 95, 148);
    color: white;
    border-radius: 5px;
    flex: 1; /* Fills the available space */
    overflow-y: auto; 
    overflow-x: hidden;
    padding: 5px;
}

/* Style für alle Button */
.btn {
    font-size: 1.2rem;
    font-weight: 600;
    height: 100%;
}

/* Logoeigenschaften für Hauptseite */
.logo_tiny {
    height: 3rem;
    display: block;
    margin: 0 auto 0;
    margin-right: 8px;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/* Kategory Übersicht */
/* Rahmen für Kategorien außen */
.category-overview{
    /* margin: 10px; */
    padding-left: 10px;
    padding-right: 10px;
}
/*Rahmen und Inhalt der Kategorien definieren*/
.category-item {
    padding: 5px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
}

.category-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

/*Schriftzug der Kategorien zentral auf die Bilder hinzufügen*/
.caption {
    padding: 3px; 
    position: absolute;
    background-color: rgb(20, 95, 148);
    color: white;
    border-radius: 5px;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/
/* Kategory-Seite */

/*Banner mit Kategoriebild und Schriftzug*/
.category-banner {
    width: 100%;
    height:  40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
}

/*übergeordneter Container für alle Produkte*/
.product-container{
    margin-top: 10px;
    padding: 2px;
}

/*Container für ein Produkt - enthält Produktinfos und Bild*/
.product {
    color:  rgb(20, 95, 148);
    background-color: white;
    border-radius: 5px;
    height: 400px;
}
/*enhält das Produktbild*/
.product-img{
   
    width: 100%;
    height: 65%;
    padding-top : 2.5%;
    padding-bottom : 2.5%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto
}
.product-img img{
    width: 300px;
    height: 300px;
    object-fit:contain;
}

/*Anpassen der Produktbildergrößen je nach Bildschirmgröße*/
@media (min-width:992px){ /*entspricht Breakpoint large*/
    .product-img img {
        width: 225px;
        height: 225px;
    }
}
@media (min-width:768px) and (max-width:991.98px){ /*entspricht Breakpoint medium*/
    .product-img img {
        width: 215px;
        height: 215px;
    }
}
@media (max-width:767.98px){ /*entspricht Breakpoint small*/
    .product-img img {
        width: 200px;
        height: 200px;
    }
}

.product h5 {
    margin: 5px;
    text-align: center;
    text-decoration-line: underline;
}

.product p{
    margin: 5px; 
    padding-left: 10px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Impressum-Seite*/
.impressum {
    padding-left : 5px;
}

.impressum h6{
   padding-top: 10px;
}
.impressum a{
    color:rgb(200, 200, 200);;
    padding: 10px; 
}

/* Anpassung Link */
.impressum a:hover {
    color: black;
    text-decoration: underline;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/*Analysen-Seite & Datenbankübersicht-Seite*/
.analysis-navigation{
    margin: auto;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.analysis-container {
    width: 100%;
    height: 70vh;
    background-color: rgb(20, 95, 148);
}
.analysis-container iframe {
    width: 100%;
    height: 100%;
    background-color: transparent;
}



.dbPage-container{
    background-color: rgb(20, 95, 148);
    color: white;
    flex: 1;    /* Füllt den verbleibenden verfügbaren Platz */
    overflow: hidden;
    padding: 5px;
    height: 75vh;
}

.table-container{
    overflow-y: auto;
    overflow-x: auto;
    max-width: 100%;
    margin: 5px;

}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

td, th{
    padding : 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-item img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

#carouselProds .carousel-control-prev {
    left: 20%;
}
#carouselProds .carousel-control-next {
    right: 20%;
}
#carouselProds .carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 100%,100%;
}


.analysen-element {
    text-align: center;
}
.analysen-element img{
   width: 30vw;
   height: 30vh;
   object-fit:  contain;
}
.analysen-element p {
    padding: 10px;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/*admin-Main-Seite*/
.admin-categories {
    padding: 5px; 
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    margin: auto;
}

.admin-categories img {
    object-position: 50% 50%;
    width: 75vw;
    height:  25vh;
    object-fit: cover;

}


/*new-Product-Formular*/
.buttons-inline{
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/


/* SCANNER-Seite */
#reader {
    width: auto;
}

#result {
    font-size: 1.3rem; 
}

.btn-scannerBack{
    margin-top: 10px;
}

#result button{
    font-size: 1rem;
}

.title-scanner{
    display: block;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.product-element img{
    height: 9rem;
    border: 3px solid white;
    vertical-align: middle;
}

.product-info{
    vertical-align: top; 
    padding-left: 20px;
    text-align: left;
}

.product-info h5{
    padding-top: 15px;
    font-size: 1.4rem;
}

.product-info h3{
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.product-info p{
    font-size: 1rem;
}

.product-buttons {
    display: flex;
    align-items: center;
}

.product-buttons p {
    margin: 0 10px;
}

.btn-scanner-footer{
    margin: 10px;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/* WARENKORB-Seite */
.btn-custom-height {
    padding: 0.25rem 0.5rem; /* Adjust these values as needed */
    font-size: 0.875rem;     /* Ensure the font size is appropriate */
    color: white;
}

.item-shopping-list-content{
    color: white;
    align-items: center;
    max-height: 530px;
    /* height of navbar + height of footer */
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px; 
    border: 5px solid white;
}

.item-shopping-list-content .item {
    padding: 5px;
}

.total-price{
    padding: 10px;
}

.quantity-title{
    padding-right: 35px;
}

.modal-dialog{
    color: black;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/* SHOPPINGRESULT: */





/*---------------------------------------------------------------------------------------------------------------------------------------------*/

/* FOOTER: */
.linkings {
    flex-shrink: 0; /* Fixiert die Fußzeile am unteren Rand */
}

/* Anpassung Link */
.linkings a {
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Anpassung Link */
.linkings a:hover {
    color: rgb(200, 200, 200);
    text-decoration: underline;
}