html, body {
    height: 100%;
    margin: 0;
}

.outer-container {
    background-color: rgb(24, 115, 180);
    color: white;
    width: auto;
    height: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container-fluid {
    background-color: rgb(24, 115, 180);
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar SM-Name */
.navbar-brand{
    color: white !important;
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
}


/* für die Icons in der Navbar */
.nav-link.active {
    height: 100%;
}
/* für die Icons in der Navbar */
.nav-link.active img {
    height: 1.5rem;
    vertical-align: middle;
}
/* für die Beschreibung der Icons in der Navbar */
.nav-link.active span {
    color: white;
    display: block;
    margin-top: 0.25rem;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;  /* Zentriert den Text */
}

/*unterstreichen des Schriftzugs, wenn die Maus darüber hovert*/
.nav-link.active span:hover{
    text-decoration: underline;
}

.main-container{
    background-color: white;
    color: black;
    border-radius: 5px;
    flex: 1;    /* Füllt den verbleibenden verfügbaren Platz */
    overflow-y: auto; /* Fügt bei Bedarf einen Scrollbalken hinzu */
    overflow: hidden;
    padding: 5px;
}

.title{
    display: block;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.login-container {
    border-radius: 5px;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}



.logo_big {
    height: 10rem;
    display: block;
    margin: 55px auto 40px;
}

.logo_small {
    height: 4rem;
    display: block;
    margin: 0 auto 0;
}
.logo_tiny {
    height: 3rem;
    display: block;
    margin: 0 auto 0;
    margin-right: 8px;
}

.form-group-login {
    margin-bottom: 20px;
}

.form-group-login label {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.btn-right {
    display: flex;
    justify-content: right;
    font-size: 1.2rem;
    font-weight: 600;
    height: 100%;
    margin-bottom: 15px;
}

.btn-left {
    display: flex;
    justify-content: left;
    font-size: 1.2rem;
    font-weight: 600;
    height: 100%;
    margin-bottom: 15px;
}

.registration{
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.registration a{
    color: rgb(163, 163, 163);
}

.registration a:hover {
    color: rgb(200, 200, 200);
    text-decoration: underline;
}


.registration-container {
    border-radius: 5px;
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.form-control {
    margin-bottom: 10px;
}

.form-check-agb{
    margin-top: 10px;
}

.form-check-agb a {
    color: rgb(163, 163, 163);
}

.form-check-agb a:hover {
    color: rgb(200, 200, 200);
    text-decoration: underline;
}

.bezahldaten{
    background: rgb(20, 95, 148);
    border-radius: 8px;
    padding: 5px;
}

/* main Inhalt - Produktübersicht - Kundensicht*/

/*Rahmen und Inhalt der Kategorien definieren*/
.category-item {
    padding: 5px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: auto;
}
.category-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

/*Schriftzug der Kategorien zentral auf die Bilder hinzufügen*/
.caption {
    padding: 3px; 
    position: absolute;
    background-color: rgb(20, 95, 148);
    color: white;
    border-radius: 10px;
}


/* Impressung letzte Zeile */
.linkings {
    flex-shrink: 0; /* Fixiert die Fußzeile am unteren Rand */
}

.linkings a {
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.linkings a:hover {
    color: rgb(200, 200, 200);
    text-decoration: underline;
}