{% extends "sm_default_import_only.html" %}

{% block header %}
    <title>Login - ScannerMarket</title>
{% endblock %}

{% block content %}
<!-- Main Content -->

    <div class="dbPage-container">
        <h3>{{title}}</h1>
        <div class = " table-container">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    {% for name in column_names %}
                        <th scope="col">{{ name }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for entry in entries %}
                        <tr>
                            {% for identifier in column_names %}
                                {% if identifier == "ID" %}
                                    <th scope="row">{{ entry.ID }}</th>
                                {% else %}
                                    <td>{{ entry[identifier]  }}</td>
                                {% endif%}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{%endblock%}
