<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einkauf</title>
</head>
<body>
    <h1>Einkauf</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nutzer ID</th>
                <th>Zeitstempel Start</th>
                <th>Zeitstempel Ende</th>
            </tr>
        </thead>
        <tbody>
            {% for einkauf_entry in einkauf_entries %}
            <tr>
                <td>{{ einkauf_entry.ID }}</td>
                <td>{{ einkauf_entry.nutzer_ID }}</td>
                <td>{{ einkauf_entry.zeitstempel_start }}</td>
                <td>{{ einkauf_entry.zeitstempel_ende }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
