{% extends "sm_default_import_only.html" %}

{% block header %}
    <title>Login - ScannerMarket</title>
{% endblock %}

{% block content %}
<!-- Main Content -->

    <div class="dbPage-container">
        <h3>{{title}}</h3>
        <div class="row category-overview">
            <div class="col-sm-12 col-md-6 p-0">
                <div class="analysen-element">
                    <img src="..\static\images\newCust.png" alt="">
                    <p>Neukunden im Monat {{month}}: {{newCust}}</p>
                </div>
                
            </div>
            <div class="col-sm-12 col-md-6 p-0">
                <div class="analysen-element">
                    <img src="..\static\images\customer.png" alt="">
                    <p>Kunden insgesamt: {{allCust}}</p>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
