<!-- Combobox zum auswählen der Analyse -->
<!-- Datenbank einsicht -->

{% extends "sm_default.html" %}

{% block header %}
    <title>SM - Analysen</title>
{% endblock %}

{% block content%}
    <div class = "main-container">
        <div class = "navigation">
            <div class="dropdown show">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Umsatz</a>
                            <a class="dropdown-item" href="#">Neukunden</a>
                            <a class="dropdown-item" href="#">Produktdatenbank</a>
                            <a class="dropdown-item" href="#">Produktkategorien</a>
                            <a class="dropdown-item" href="#">Kundendatenbank</a>
                            <a class="dropdown-item" href="#">Einkäufe</a>
                            <a class="dropdown-item" href="#">Warenkorb</a>
                            <a class="dropdown-item" href="#">Bezahlung</a>
                            <a class="dropdown-item" href="#">Bezahlmöglichkeiten</a>
                    </div>
                </div>
            </div>
        </div>
         <!-- Analysen Content -->
         {% if analyse_page == "/Produktkategorien" %}
            <iframe src="/Produktkategorien" ></iframe>
         {% elsif analyse_page== "/Produkte" %}
            <iframe src="/Produkte" ></iframe>
        {% elsif analyse_page== "/Kunden" %}
            <iframe src="/Kunden" ></iframe>
        {% elsif analyse_page== "/Einkauf" %}
            <iframe src="/Einkauf" ></iframe>
        {% elsif analyse_page== "/Warenkorb" %}
            <iframe src="/Warenkorb" ></iframe>
        {% elsif analyse_page== "/Bezahlung" %}
            <iframe src="/Bezahlung" ></iframe>
        {% elsif analyse_page== "/Bezahlmöglichkeiten" %}
            <iframe src="/Bezahlmöglichkeiten" ></iframe>
        {% elsif analyse_page== "/Umsatz" %}
            <iframe src="/Umsatz" ></iframe>
        {% elsif analyse_page== "/Neukunden" %}
            <iframe src="/Neukunden" ></iframe>
        {% endif %}
         <!-- END Analysen Content -->
    </div>
   
{% endblock %}