<!-- Combobox zum auswählen der Analyse -->
<!-- Datenbank einsicht -->

{% extends "sm_default.html" %}

{% block header %}
    <title>SM - Analysen</title>
{% endblock %}

{% block content%}
    <div class = "main-container" id="main-container">
        <div class = "analysis-navigation">
            <div class="form-group">
                <label for="dropdownMenuButton">Analyse:</label>
                <select id="dropdownMenuButton" class="form-control" required>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <option value="Analysen">Analysen</option>
                        <option value="Produkte">Produktdatenbank</option>
                        <option value="Produktkategorien">Produktkategorien</option>
                        <option value="Kunden">Kundendatenbank</option>
                        <option value="Einkaufe">Einkäufe</option>
                        <option value="Warenkorb">Warenkorb</option>
                    </div>
                </select>
            </div>
        </div>
        
        
         <!-- Analysen Content -->
         <div class="analysis-container"> 
            <iframe id = "Analysen-Feld" src="{{url_for('app_admin.show_umsatz')}}" ></iframe>
         </div> 
         <!-- END Analysen Content -->
         <div class="buttons-inline">
            <a href="{{url_for('app_admin.adminMain')}}">
                <button class="btn btn-secondary" type="button" >Zurück</button> 
            </a>
        </div>
    </div>

<!-- Flask -->
<script src="{{ url_for('static', filename='analysen.js') }}"></script>
 
{% endblock %}