{% extends "sm_default.html" %}

{% block content%}

    <div class="main-container" id="main-container">
        <a href="/admin/analysis">   
            <div class="admin-categories">
                <img src="..\static\images\analysis.jpg" alt="">
                <h1 class="caption">Analysen</h1>
            </div>
        </a>

        <a href="/productcatalog">   
            <div class="admin-categories">
                <img src="static\images\productCatalog.jpg" alt="">
                <h1 class="caption">Produktkatalog</h1>
            </div>
        </a>

        <a href="/admin/newProduct">   
            <div class="admin-categories">
                <img src="static\images\newProduct.jpg" alt="">
                <h1 class="caption">neues Produkt</h1>
            </div>
        </a>
    </div>
    <script src="/static/adjustHeight.js"> </script>
{% endblock %}