{% extends "sm_default.html" %}

{% block content %}
<!-- Main Content -->
<div class="main-container">
    <div class="row category-overview">
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <a href="#">
                <div class="category-item"> 
                    <img src="..\static\images\kategorie-obst.jpg" alt="category-fruit" >
                    <h4 class="caption">Obst & Gemüse</h4> 
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <a href="#">   
                <div class="category-item">
                    <img src="..\static\images\kategorie-fleisch.jpg" alt="category-meat" >
                    <h4 class="caption">Fleischprodukte</h4> 
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <a href="#">   
                    <div class="category-item">
                    <img src="..\static\images\muscheln.jpg" alt="category-fish" >
                    <h4 class="caption">Fisch & Meeresfrüchte</h4> 
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <a href="#">  
                    <div class="category-item">
                    <img src="..\static\images\milchprodukte.jpg" alt="category-milk" >
                    <h4 class="caption">Milchprodukte</h4> 
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <a href="#">  
                <div class="category-item">
                    <img src="..\static\images\backware.jpg" alt="category-bread" >
                    <h4 class="caption">Backwaren</h4> 
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <a href="#">   
                <div class="category-item">
                    <img src="..\static\images\pasta.jpg" alt="category-pasta" >
                    <h4 class="caption">Nudeln, Reis & Nüsse</h4> 
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <a href="#">   
                <div class="category-item">
                    <img src="..\static\images\konserven.jpg" alt="category-can" >
                    <h4 class="caption">Konserven & Konfitüre</h4> 
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <a href="#">   
                <div class="category-item">
                    <img src="..\static\images\gewürze.jpg" alt="category-herbs" >
                    <h4 class="caption">Gewürze & Saucen</h4> 
                </div> 
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <a href="#">   
                <div class="category-item">
                    <img src="..\static\images\süßigkeiten.jpg" alt="category-sweets" >
                    <h4 class="caption">Süßwaren</h4> 
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <a href="#">   
                <div class="category-item">
                    <img src="..\static\images\kühlware.jpg" alt="category-frozen" >
                    <h4 class="caption">Tiefkühlwaren</h4> 
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <a href="#">   
                <div class="category-item">
                    <img src="..\static\images\getränke.jpg" alt="category-drinks" >
                    <h4 class="caption">Getränke</h4> 
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 p-0">
            <a href="#">  
                <div class="category-item">
                    <img src="..\static\images\sonstiges.jpg" alt="category-coffee" >
                    <h4 class="caption">Sonstiges</h4> 
                </div>
            </a>
        </div>
    </div>
</div>
<!-- END Main Content -->
{% endblock %}
