{% extends "sm_default.html" %}

{% block header %}
    <title>ScannerMarket</title>
{% endblock %}

{% block content%}
    <div class = "main-container" id="main-container">
        <div class = "impressum">            
            <h1>Impressum</h1>
            <h6>Erstellt durch:</h6>
            <p>Philip Reher</p>
            <p>Celina Timmer</p>

            <h6>Datenbank-/Produktdaten von:</h6>
            <a href="https://de.openfoodfacts.org/">openfoodfacts</a>

            <h6>Produktpreise (von einigen Produkten, restliche Produkte zufällig generiert):</h6>
            <a href="https://www.globus.de/produkte/">Großhandel</a>

            <h6>Bilder von:</h6>
            <a href="https://pixabay.com/de/">pixabay</a>

            <h6>Icons von:</h6>
            <a href="https://fontawesome.com/">fontawesome</a>
        </div>
    </div>
{% endblock %}