{% extends "sm_default_import_only.html" %}

{% block header %}
    <title>Login - ScannerMarket</title>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container-fluid">
    <div class="row login-container">
        <div class="col-sm-6 offset-sm-3">
            <div class="logo_big" onclick="window.location.href='{{ url_for('app_cust.productcatalog') }}'">
                <img class="logo_big" src="{{ url_for('static', filename='images/logo1.svg') }}" alt="Scanner">
            </div>
            <form method="POST" action="{{ url_for('app_cust.login') }}">
                {{ form.csrf_token }}
                <div class="title">
                    <h1>ScannerMarket - Login:</h1>
                </div>
                <div class="form-group-login">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", placeholder="Enter email") }}
                </div>
                <div class="form-group-login">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control", placeholder="Enter password") }}
                </div>
                <div class="btn-right">
                    {{ form.submit(class="btn btn-secondary btn-right") }}
                </div>
                <p class="registration">Noch kein Kunde? <a href="{{ url_for('app_cust.registration') }}" class="linkings">Registrieren</a></p>
            </form>
        </div>
    </div>
</div>
<!-- END Main Content -->
{% endblock %}
