{% extends "sm_default_import_only.html" %}

{% block header %}
    <title>Login - ScannerMarket</title>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container-fluid" id="main-container">
    <div class="row login-container">
        <div class="col-sm-6 offset-sm-3">
            <div class="logo_big" onclick="window.location.href='{{ url_for('app_customer.productcatalog') }}'">
                <img class="logo_big" src="{{ url_for('static', filename='images/logo1.svg') }}" alt="Scanner">
            </div>
            <form method="POST" action="{{ url_for('app_customer.login') }}">
                {{ form.csrf_token }}
                <div class="title">
                    <h1>ScannerMarket - Anmeldung:</h1>
                </div>
                <!-- Flash Message Block -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="alert-container">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <!-- END Flash Message Block -->
                <div class="form-group-login">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", placeholder="Email angeben") }}
                </div>
                <div class="form-group-login">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control", placeholder="Passwort angeben") }}
                </div>
                <div class="btn-right">
                    {{ form.submit(class="btn btn-secondary btn-right") }}
                </div>
                <p class="registration">Noch kein Kunde? <a href="{{ url_for('app_customer.registration') }}" class="linkings">Registrieren</a></p>
            </form>
        </div>
    </div>
</div>
<!-- END Main Content -->
{% endblock %}
