{% extends "sm_default_import_only.html" %}

{% block header %}
    <title>Login - ScannerMarket</title>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container-fluid">
    <div class="row login-container">
        <div class="col-sm-6 offset-sm-3">
            <div class="logo_big" onclick="window.location.href='../productcatalog'">
                <img class="logo_big" src="../static/images/logo1.svg" alt="Scanner">
            </div>
            <form>
                <div class="title">
                    <h1>ScannerMarket - Login:</h1>
                </div>
                <div class="form-group-login">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group-login">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password">
                </div>
                <div class="btn-right">
                    <button type="submit" class="btn btn-secondary btn-right">Anmelden</button>
                </div>
                <p class="registration">Noch kein Kunde? <a href="/registration" class="linkings" >Registrieren</a></p>
            </form>
        </div>
    </div>
</div>
<!-- END Main Content -->
{% endblock %}