{% extends "sm_default_import_only.html" %}

{% block header %}
<title>Registrierung - ScannerMarket</title>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="container-fluid">
    <div class="registration-container row">
        <div class="col-sm-6 offset-sm-3">   
            <div class="logo_big" onclick="window.location.href='{{ url_for('app_customer.login') }}'">
                <img class="logo_big" src="{{ url_for('static', filename='images/logo1.svg') }}" alt="Scanner">
            </div>
            
            <form method="POST" action="{{ url_for('app_customer.registration') }}">
                <div class="title">
                    <h1>ScannerMarket - Registrierung:</h1>
                </div>
                <!-- Flash Message Block -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="alert-container">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <!-- END Flash Message Block -->
                {{form.csrf_token}}
                <div class="form-group">
                    {{ form.vorname.label(class="form-label") }}
                    {{ form.vorname(class="form-control", placeholder="Vorname") }}
                </div>
                <div class="form-group">
                    {{ form.nachname.label(class="form-label") }}
                    {{ form.nachname(class="form-control", placeholder="Nachname") }}
                </div>
                <div class="form-group">
                    {{ form.geburtsdatum.label(class="form-label") }}
                    {{ form.geburtsdatum(class="form-control", placeholder="Geburtsdatum") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", placeholder="Email") }}
                </div>
                <div class="form-group">
                    {{ form.passwort.label(class="form-label") }}
                    {{ form.passwort(class="form-control", placeholder="Passwort") }}
                </div>
                <div class="form-group">
                    {{ form.passwort_new.label(class="form-label") }}
                    {{ form.passwort_new(class="form-control", placeholder="Passwort bestätigen") }}
                </div>
                <div class="form-check">
                    {{ form.newsletter() }}
                    {{ form.newsletter.label(class="form-check-label") }}
                </div>
                <div class="form-check">
                    {{ form.kundenkarte() }}
                    {{ form.kundenkarte.label(class="form-check-label") }}
                </div>
                <div class="form-check">
                    {{ form.agb() }}
                    {{ form.agb.label(class="form-check-label") }}
                </div>
                <div class="row">
                    <div class="col btn-left">
                        <a href="{{ url_for('app_customer.login') }}">
                            <button type="button" class="btn btn-secondary">zurück</button>
                        </a>
                    </div>
                    <div class="col btn-right">
                        <button type="submit" class="btn btn-secondary" id="register-button">Registrieren</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- END Main Content -->
{% endblock %}
