{% extends "sm_default.html" %}

{% block header %}
    <title>Einkauf - ScannerMarket</title>
{% endblock %}


{% block content %}
<script src="/static/dynamic.js"></script>
<!-- Main Content -->
<div class="main-container">
    <div class="row">
        <h4 class="col-sm-6 offset-sm-3 text-center title-basket-list">Mein Einkauf:</h4>
    </div>
        <div class="col-sm-6 offset-sm-3">
            <div class="item row">
                <div class="col-8">
                    <h5>Produktname</h5>
                </div>
                <div class="col-1 align-items-center">
                    <h5>Anzahl</h5>
                </div>
            </div>
            <div class="row">
            {% for product in product_list %}
            <div class="item row">
                <div class="item row" id="product_{{ product.product_id }}">
                    <div class="col-8">
                        <p>{{ product.name }}</p>
                    </div>
                    <div class="col-1">
                        <button class="mx-1 warenkorb-btn decrease-btn" id="decrease_{{ product.prod_id }}" onclick="decreaseAmount({{ product.shoppingCard_id }},{{ product.product_id }})" >-</button>
                    </div>
                    <div class="col-1 text-center">
                        <span id="quantity_{{ product.prod_id }}">{{ product.amount }}</span>
                    </div>
                    <div class="col-1">
                        <button class="mx-1 warenkorb-btn increase-btn" id="increase_{{ product.prod_id }}" onclick="increaseAmount({{ product.shoppingCard_id }}, {{ product.product_id }})">+</button>
                    </div>
                </div>                
            </div>
            {% endfor %}
        </div>
    </div>
</div>



<script src="../static/dynamic.js"></script>
{% endblock %}
<!-- END Main Content -->
