{% extends "sm_default.html" %}

{% block header %}
    <title>Einkauf - ScannerMarket</title>
{% endblock %}

{% block content %}
<!-- Barcode Scanner script -->
<script src="/static/barcodeScanner.min.js"></script>
<script src="/static/scanner.js"></script>

<div class="main-container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 mx-auto">
            <h4 class="title-scanner">Produkt scannen:</h4>
            <div id="reader"></div>
            <div>
                <button id="scannerBack" class="btn btn-secondary btn-scannerBack" onclick="location.href='{{ url_for('app_customer.shoppinglist') }}'">zurück zum Warenkorb</button>
            </div>
            <div id="result" class="mx-auto" style="display: none;">
                <div class="col product-element d-flex align-items-center"> 
                    <img src="" id="productimage">
                    <div class="product-info"> 
                        <h5 id="manufacturer">Hersteller</h5>
                        <h3 id="product">Produktname</h3>
                        <p id="price">Preis: 10,00€</p> 
                        <p id="weight">Menge/Volumen: 500g</p>
                    </div>
                </div>
                <div class="col product-buttons mx-right my-auto">
                    <p>Anzahl:</p>
                    <button class="btn btn-secondary" onclick="decreaseQuantity()">-</button>
                    <p id="quantity">1</p>
                    <button class="btn btn-secondary" onclick="increaseQuantity()">+</button>
                </div>
                <div class="btn-scanner-footer">
                    <button class="btn btn-secondary" onclick="rescan()">erneut scannen</button>
                    <button class="btn btn-secondary" onclick="addProdToBasket()">zum Warenkorb hinzufügen</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
