{% extends "sm_default.html" %}

{% block header %}
    <title>Einkauf - ScannerMarket</title>
{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="main-container">
    <div class="row">
        <h4 class="col-sm-6 offset-sm-3 text-center title-basket-list">Mein Einkauf:</h4>
    </div>
    <div class="col-sm-6 offset-sm-3">
        <!-- Warenkorbliste -->
        <div class="item-list">
            <div class="item-header row">
                <div class="col-9">
                    <h5>Produktname</h5>
                </div>
                <div class="col-3 text-right">
                    <h5>Anzahl</h5>
                </div>
            </div>
            <div class="item-list-content">
                {% for product in product_list %}
                <div class="item row" id="product_row_{{ product.product_id }}">
                    <div class="col-1">
                        <button class="mx-1 btn btn-secondary" id="delete_{{ product.product_id }}" aria-label="Produkt entfernen" onclick="deleteItemFromList({{ product.shoppingCard_id }},{{ product.product_id }})">X</button>
                    </div>
                    <div class="col-8">
                        <p data-toggle="tooltip" data-placement="top" title="{{ product.hersteller }} {{ product.name }}">{{ product.name }} - {{ "%.2f"|format(product.price) }}€</p>
                    </div>
                    <div class="col-3 text-right">
                        <button class="mx-1 btn btn-outline-warning decrease-btn" id="decrease_{{ product.product_id }}" aria-label="Decrease quantity" onclick="decreaseAmount({{ product.shoppingCard_id }},{{ product.product_id }})">-</button>
                        <span id="quantity_{{ product.product_id }}">{{ product.amount }}</span>
                        <button class="mx-1 btn btn-outline-success increase-btn" id="increase_{{ product.product_id }}" aria-label="Increase quantity" onclick="increaseAmount({{ product.shoppingCard_id }},{{ product.product_id }})">+</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Gesamtpreis -->
        <div class="row total-price">
            <div class="col-12">
                <p>Gesamtpreis: <span id="total-price">{{ total_price }}</span> €</p>
            </div>
        </div>
        <!-- Button "Produkt scannen" -->
        <div class="row">
            <div class="col-6 text-center">
                <button class="btn btn-primary" id="scan-product-btn" onclick="window.location.href='../scanner'">Produkt scannen</button>
            </div>
            <!-- Button zum Beenden des Einkaufs -->
            <div class="col-6 text-center">
                <button class="btn btn-success" id="finish-shopping-btn" onclick="purchase()">Einkauf beenden</button>
            </div>
        </div>
    </div>
</div>
<script src="../static/warenkorb.js"></script>
{% endblock %}
<!-- END Main Content -->
