{% extends "sm_default_import_only.html" %}

{% block header %}
    <title>Login - ScannerMarket</title>
{% endblock %}

{% block content %}
<!-- Main Content -->

    <div class="dbPage-container">
        <h3>Umsatz</h3>
        <div class="row category-overview">
            <div class="col-sm-12 col-md-6 p-0">
                <div class="analysen-element">
                    <img src="..\static\images\sales.png" alt="">
                    <p>bisheriger Jahres Umsatz für das {{year}}: {{salesOfYear}}</p>
                    <p>bisheriger Jahres Umsatz für den {{month}}: {{salesOfMonth}}</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 p-0">
                <div class="analysen-element carousel-element">
                    <div id="carouselProds" class="carousel carousel-dark slide myCarousel" data-bs-ride="carousel">
                        
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselProds" data-bs-slide-to="0" class="active"></button>
                            {% for i in range(1, bestSellers|length) %}
                                <button type="button" data-bs-target="#carouselProds" data-bs-slide-to="{{ i }}"></button>
                            {% endfor %}
                        </div>
                        
                        <div class="carousel-inner">
                            {%for  Prod in (bestSellers)%}
                                <div class="carousel-item {%if loop.index0 == 0%} active {% endif %}">
                                    <div class="card">
                                        <div class="product-img">
                                            <img src={{Prod[1]}}  alt="Slide {{loop.index}}" >
                                        </div>
                                        <div class="card-body">
                                          <h5 class="card-title">{{Prod[0]}}</h5>
                                          <p class="card-text">Anzahl: {{Prod[2]}}</p>
                                        </div>
                                      </div>
                                </div>
                            {% endfor %}
                        </div>


                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselProds" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselProds" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <p>beliebteste Produkte im {{month}}</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 p-0">
                <div class="analysen-element">
                    <img src="..\static\images\euro.png" alt="">
                    <p> </p>
                    <h5>Anzahl verkaufter Produkte</h5>
                    <p>{{month}}: {{selledProds}}</p>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-6 p-0">
                <div class="analysen-element">
                    <img src="..\static\images\products.png" alt="">
                    <p> </p>
                    <h5>Anzahl Einkäufe</h5>
                    <p>{{month}}: {{sells}}</p>
                </div>
            </div>

        </div>
      

        <h3>Neukunden</h3>
        <div class="row category-overview">
            <div class="col-sm-12 col-md-6 p-0">
                <div class="analysen-element">
                    <img src="..\static\images\newCust.png" alt="">
                    <p> </p>
                    <p>Neukunden im Monat {{month}}: {{newCust}}</p>
                </div>
                
            </div>
            <div class="col-sm-12 col-md-6 p-0">
                <div class="analysen-element">
                    <img src="..\static\images\customer.png" alt="">
                    <p> </p>
                    <p>Kunden insgesamt: {{allCust}}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
