{% extends "sm_default_import_only.html" %}

{% block header %}
    <title>Login - ScannerMarket</title>
{% endblock %}

{% block content %}
<!-- Main Content -->

    <div class="dbPage-container">
        <h3>{{title}}</h3>
        <div class="row category-overview">
            <div class="col-sm-12 col-md-6 p-0">
                <div class="analysen-element">
                    <img src="..\static\images\sales.png" alt="">
                    <p>bisheriger Jahres Umsatz für das {{year}}: {{salesOfYear}}</p>
                    <p>bisheriger Jahres Umsatz für den {{month}}: {{salesOfMonth}}</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 p-0">
                <div class="analysen-element">
                    <div id="carouselProds" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            
                            <button type="button" data-bs-target="#carouselProds" data-bs-slide-to="0" class="active"></button>
                            {% if bestSellers|length > 1%}
                                {% for Prod in bestSellers %}
                                    {% if not loop.first %}
                                        <button type="button" data-bs-target="#carouselProds" data-bs-slide-to={{Prod[0]}}></button>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>

                        <div class="carousel-inner">
                            {%for  Prod in (bestSellers)%}
                                <div class="carousel-item {%if loop.index0 == 0%} active {% endif %}">
                                    <img src={{Prod[1]}} class="d-block w-100" alt="Slide {{loop.index}}">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>{{Prod[0]}}</h5>
                                        <p>Anzahl: {{Prod[2]}}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselProds" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselProds" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <p>beliebteste Produkte im {{month}}</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 p-0">
                <div class="analysen-element">
                    <img src="..\static\images\euro.png" alt="">
                    <h5>Anzahl verkaufter Produkte</h5>
                    <p>{{month}}: {{selledProds}}</p>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-6 p-0">
                <div class="analysen-element">
                    <img src="..\static\images\products.png" alt="">
                    <h5>Anzahl Einkäufe</h5>
                    <p>{{month}}: {{sells}}</p>
                </div>
            </div>

        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        var myCarou = document.getElementById('carouselProds');
        if(myCarou){
            var carousel = new bootstrap.Carousel(myCarou, {
                interval:2000,
                wrap:true
            });
           
            console.log(carousel);
            
        }
    });
</script>
{% endblock %}
